* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all 0.1s ease-in-out;
  font-family:
    Cambria,
    Cochin,
    Georgia,
    Times,
    'Times New Roman',
    serif;
}

a,
a:active,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul li {
  list-style-type: none;
}

header {
  width: 100vw;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
}

header ul {
  display: flex;
  gap: 10%;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
}

#logo {
  width: 50px;
}

/* ========== Main section ============ */
main {
  padding: 15px;
  display: grid;
  row-gap: 40px;
  column-gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 8rem;
}

.card {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.04);
}

.card .movie-img,
.movie-img img {
  width: 100%;
  max-height: 468px;
}

.movie-details {
  padding: 6px 10px;
  display: grid;
  gap: 20px;
}

.name-like,
.likes,
.card-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.likes {
  width: 25%;
}

.likes #like-img {
  width: 25px;
  cursor: pointer;
}

.card-actions {
  flex-direction: column;
  align-items: unset;
  gap: 15px;
  margin-bottom: 10px;
}

.card-actions button {
  font-size: 16px;
  padding: 5px;
  cursor: pointer;
}
